<% content_for :title do %><%= t('users.list') %><% end %>

<h1><a href="<%= '/' %>">BiB<span style="font-family: 'Cantata One'; font-size: 0.69em; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em; font-weight: 300px;">/</span>i<span style="font-size: 0.9em; margin-left: -0.02em; margin-right: -0.04em;">'</span>d</a></h1>

<h2><%= t('users.list') %></h2>

<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.display_name, url(:users, :show, :name => user.name) %></li>
  </ul>
<% end %>

<%= paginate @users %>
