<% content_for :title do %><%= t('users.list') %><% end %>

<article>
  <h1><%= t('users.list') %></h1>

  <% @users.each do |user| %>
  <ul>
    <li>
      <%= link_to user.display_name, url(:users, :show, :name => user.name) %>
        (
          <%= link_to 'RSS', absolute_url(:users, :show, :name => user.name, :format => :rss) %>
          <%= link_to 'OPDS', absolute_url(:users, :show, :name => user.name, :format => :opds) %>
        )
    </li>
  </ul>
  <% end %>

  <%= paginate @users %>
</article>
