<% form_for @user, url(:users, :create) do |f| %>
  <p><%= f.error_messages %></p>
  <p>
    <%= f.text_field_block :name, :value => @user.name, :required => true, :pattern => '^[\w\-]+$' %>
    "A-Za-z0-9_-" are avaiable.
    can<em>not</em> modify later.
  </p>
  <p>
    <%= f.text_field_block :display_name, :value => @user.display_name, :required => true %>
    can modify later.
  </p>
  <% fields_for @user.authentications.first do |authentication| %>
    <%= authentication.hidden_field :provider, :value => @user.authentications.first.provider %>
    <%= authentication.hidden_field :uid, :value => @user.authentications.first.uid %>
  <% end %>
  <%= f.submit %>
<% end %>
