<% content_for :title do %><%= @user.display_name %><% end %>

<article>
  <h1 class="user-heading user-name"><%= link_to @user.display_name, url(:users, :show, :name => @user.name) %></h1>
  <% if @user == current_user %>
  <div class="edit-area">
    <a class="opener" data-ligature-symbol="edit"><%= t('helpers.edit') %></a>
    <% form_for @user, url(:users, :update, :name => @user.name), :'data-name' => @user.name do |f| %>
    <%= f.error_messages %>
    <%= hidden_form_method_field 'put' %>
    <%= f.text_field_block 'display_name', :required => true %>
    <a class="closer" data-ligature-symbol="close"><%= t('helpers.close') %></a>
    <%= f.submit t('helpers.update') %>
    <% end %>
  </div>
  <div class="delete-area">
    <% form_for @user, url(:users, :destroy, :name => @user.name), :'data-confirm' => t('users.confirm_deletion') do |f| %>
    <%= f.error_messages %>
    <%= hidden_form_method_field 'delete' %>
    <%= f.submit t('users.destroy'), :class => 'btn btn-danger' %>
    <% end %>
  </div>
  <% end %>

  <div class="user-feeds">
    <h3><%= @user.display_name %><%= t('users.book_feeds') %></h3>
    <div class="feed">
      <h4>RSS 2.0(<%= t('users.podcasting') %>)</h4>
      <% rss_url = absolute_url(:users, :show, :name => @user.name, :format => :rss) %>
      <p><%= link_to rss_url, rss_url %></p>
      <textarea readonly onclick="this.select();"><%= link_to rss_url, rss_url %></textarea>
      <p><%= t('help.rss') %></p>
    </div>
    <div class="feed">
      <h4>OPDS</h4>
      <% opds_url = absolute_url(:users, :show, :name => @user.name, :format => :opds) %>
      <p><%= link_to opds_url, opds_url %></p>
      <textarea readonly onclick="this.select();"><%= tag :link, :rel => 'related', :href => absolute_url(:users, :show, :name => @user.name, :format => :opds), :type => RSS::OPDS::TYPES['acquisition'] %></textarea>
      <p><%= t('help.opds') %></p>
    </div>
  </div>

  <div class="user-books">
    <h3><span class="user-name"><%= @user.display_name %></span><%= t('users.books') %></h3>
    <%= partial 'books/book_list', :locals => {:books => @user.books.page(params[:page])} %>

    <%= paginate @user.books.page(params[:page]) %>

    <p><%= t('users.current_file_size') %>: <%= number_to_human_size(@user.current_file_size) %>/<%= number_to_human_size(settings.total_file_size_limit) %></p>
  </div>
</article>
