<h2 class="user-heading user-name"><%= link_to @user.display_name, url(:users, :show, :name => @user.name) %></h2>
<% if @user == current_user %>
  <div class="edit-area">
    <a class="opener" data-ligature-symbol="edit"><%= t('helpers.edit') %></a>
    <% form_for @user, url(:users, :update, :name => @user.name), :'data-name' => @user.name do |f| %>
      <%= f.error_messages %>
      <%= hidden_form_method_field 'put' %>
      <%= f.text_field_block 'display_name', :required => true %>
      <a class="closer" data-ligature-symbol="close"><%= t('helpers.close') %></a>
      <%= f.submit t('helpers.update') %>
    <% end %>
  </div>
  <div class="delete-area">
    <% form_for @user, url(:users, :destroy, :name => @user.name), :'data-confirm' => t('users.confirm_deletion') do |f| %>
      <%= f.error_messages %>
      <%= hidden_form_method_field 'delete' %>
      <%= f.submit t('users.destroy'), :class => 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>

<div class="user-books">
  <h3><span class="user-name"><%= @user.display_name %></span><%= t('users.books') %></h3>
  <div class="feeds contracted">
    <h4><%= t('users.book_feeds') %></h4>
    <ul>
      <li title="<%= t('help.rss', user: @user.display_name) %>" class="help">
        <% rss_url = absolute_url(:users, :show, :name => @user.name, :format => :rss) %>
        <span class="feed-type help" data-ligature-symbol="help">RSS 2.0(<%= t('users.podcasting') %>)</span> <%= link_to rss_url, rss_url %>
        <textarea readonly onclick="this.select();"><%= link_to rss_url, rss_url %></textarea>
      </li>
      <li title="<%= t('help.opds') %>" class="help">
        <% opds_url = absolute_url(:users, :show, :name => @user.name, :format => :opds) %>
        <span class="feed-type" data-ligature-symbol="help">OPDS</span> <%= link_to opds_url, opds_url %>
        <textarea readonly onclick="this.select();"><%= tag :link, :rel => 'related', :href => absolute_url(:users, :show, :name => @user.name, :format => :opds), :type => RSS::OPDS::TYPES['acquisition'] %></textarea>
      </li>
    </ul>
  </div>
  <%= partial 'books/book_list', :locals => {:books => @user.books.page(params[:page])} %>

  <%= paginate @user.books.page(params[:page]) %>
</div>
