<nav>
  <%= link_to t('user_list'), url(:users, :index) %>
</nav>
<h2><%= link_to @user.display_name, url(:users, :show, :name => @user.name) %></h2>

<h3><%= @user.display_name %><%= t('books_of_whom') %></h3>
<%= partial 'books/book_list', :locals => {:books => @user.books} %>
