<h2 class="user-heading user-name"><%= link_to @user.display_name, url(:users, :show, :name => @user.name) %></h2>
<% if @user == current_user %>
  <div class="edit-area">
    <a class="opener"><%= t('helpers.edit') %></a>
    <% form_for @user, url(:users, :update, :name => @user.name), :'data-name' => @user.name do |f| %>
      <%= f.error_messages %>
      <%= hidden_form_method_field 'put' %>
      <%= f.text_field_block 'display_name', :required => true %>
      <a class="closer"><%= t('helpers.close') %></a>
      <%= f.submit t('helpers.update') %>
    <% end %>
  </div>
  <div class="delete-area">
    <% form_for @user, url(:users, :destroy, :name => @user.name), :'data-confirm' => t('users.confirm_deletion') do |f| %>
      <%= f.error_messages %>
      <%= hidden_form_method_field 'delete' %>
      <%= f.submit t('helpers.destroy') %>
    <% end %>
  </div>
<% end %>

<h3><span class="user-name"><%= @user.display_name %></span><%= t('users.books') %></h3>
<p>OPDS: <%= link_to (url = absolute_url(:users, :show, :name => @user.name, :format => :opds)), url %></p>
<%= partial 'books/book_list', :locals => {:books => @user.books.page(params[:page])} %>

<%= paginate @user.books.page(params[:page]) %>
