<h1 class="app-title"><a href="<%= '/' %>">BiB<span style="font-family: 'Cantata One'; font-size: 0.69em; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em; font-weight: 300px;">/</span>i<span style="font-size: 0.9em; margin-left: -0.02em; margin-right: -0.04em;">'</span>d</a></h1>

<p class="app-description"><%= t('app.description') %></p>

<% unless current_user %>
  <p class="text-right"><%= t('home.lead_to_sign_up', :strategy => 'Twitter') %> <%= link_to image_tag('/components/twitter-icon/index.png', :width => '60px', :alt => 'Twitter'), sign_in_url %></p>
<% end %>

<section class="features">
  <h2><%= t('home.copy') %></h2>
  <div>
    <p><%= t('home.feature_embedding') %></p>
    <ol>
      <li class="step col-sm-3"><p><%= t('home.feature_embedding_step_upload') %></p></li>
      <li class="step col-sm-3"><%= t('home.feature_embedding_step_generating') %></li>
      <li class="step col-sm-3"><%= t('home.feature_embedding_step_embedding') %></li>
      <li class="step col-sm-3"><%= t('home.feature_embedding_step_view') %></li>
    </ol>
  </div>
  <div>
    <p><%= t('home.feature_feed') %></p>
    <ol>
      <li class="step col-sm-3"><%= t('home.feature_feed_step_pasting') %></li>
      <li class="step col-sm-3"><%= t('home.feature_feed_step_registering') %></li>
      <li class="step col-sm-3"><%= t('home.feature_feed_step_upload') %></li>
      <li class="step col-sm-3"><%= t('home.feature_feed_step_notification') %></li>
    </ol>
  </div>
  <div>
    <% unless current_user %>
      <p class="text-right"><%= t('home.lead_to_sign_up', :strategy => 'Twitter') %> <%= link_to image_tag('/components/twitter-icon/index.png', :width => '60px', :alt => 'Twitter'), sign_in_url %></p>
    <% end %>
  </div>
</section>

<section id="acknowledgement">
  <h2><%= t('home.acknowledgement') %></h2>
  <dl>
    <dt><a href="http://sarasa.la/bib/i/">BiB/i</a></dt>
    <dd><%= t('home.acknowledgement_bibi') %></dd>
    <dt><a href="http://www.padrinorb.com/">Padrino</a></dt>
    <dd><%= t('home.acknowledgement_padrino') %></dd>
    <dt><a href="http://kudakurage.com/ligature_symbols/">Ligature Symbols</a></dt>
    <dd><%= t('home.acknowledgement_ligature_symbols') %></dd>
    <dt><a href="http://getbootstrap.com/">Twitter Bootstrap</a></dt>
    <dd><%= t('home.acknowledgement_twitter_bootstrap') %></dd>
  </dl>
</section>
