<% content_for :title do %><%= t('books.uploaded_books') %><% end %>

<h1><a href="<%= '/' %>">BiB<span style="font-family: 'Cantata One'; font-size: 0.69em; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em; font-weight: 300px;">/</span>i<span style="font-size: 0.9em; margin-left: -0.02em; margin-right: -0.04em;">'</span>d</a></h1>

<h2><%= t('books.uploaded_books') %></h2>
<%= partial 'books/book_list', :locals => {:books => @books} %>
<%= paginate @books %>
