<article>
  <div class="book-heading">
    <h2><%= link_to @book.title.presence || t('books.unknown_title'), url(:books, :show, :id => @book.id) %></h2>
    <h3 class="user-name text-right"><%= link_to @book.user.display_name, url(:users, :show, name: @book.user.name) %></h3>
  </div>

  <div id="book-controls">
    <div class="col-10">
      <p class="embedding-tag"><label for="embedding-tag"><%= t('books.encourage_embedding') %></label><br>
        <textarea readonly id="embedding-tag" onclick="this.select();"><%= embedding_tag(@book) %></textarea>
      </p>
      <ul class="customizing btn-group">
        <li class="iframe-size btn btn-primary" data-bibi-style-width="160px" data-bibi-style-height="240px">160 x 240</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="320px" data-bibi-style-height="480px">320 x 480</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="480px" data-bibi-style-height="720px">480 x 720</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="640px" data-bibi-style-height="960px">640 x 960</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="800px" data-bibi-style-height="1200px">800 x 1200</li>
        <li class="active default iframe-size btn iframe-size btn-primary" data-bibi-style-width="100%" data-bibi-style-height="100%">100% x 100%</li>
      </ul>
      <ul class="customizing btn-group">
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="240px" data-bibi-style-height="160px">240 x 160</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="480px" data-bibi-style-height="320px">480 x 320</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="720px" data-bibi-style-height="480px">720 x 480</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="960px" data-bibi-style-height="640px">960 x 640</li>
        <li class="iframe-size btn iframe-size btn-primary" data-bibi-style-width="1200px" data-bibi-style-height="800px">1200 x 800</li>
        <li class="iframe-size-input"><input name="width" type="number" min="0">x<input name="height" type="number" min="0"></li>
      </ul>
    </div>
    <ul class="col-2">
      <li><%= number_to_human_size @book.epub.size %></li>
      <li><%= link_to t('books.download'), :href => bookshelf_url(@book), :download => "#{@book.title}.epub", :type => EPUB::MediaType::EPUB, :rel => 'nofollow', :'data-ligature-symbol' => 'in' %></li>
      <% if current_user == @book.user %><li><%= partial 'books/delete_form', :locals => {:book => @book} %></li><% end %>
    </ul>
  </div>
</article>

<div class="embedded col-12">
  <%= embedding_tag(@book) %>
</div>
