<h2><%= link_to @book.title.presence || 'Unknown title', url(:books, :show, :id => @book.id) %></h2>

<%= embedding_tag(@book) %>
<ul>
  <li>Embed into your blog!<br>
    <textarea readonly class="embedding-iframe-tag" onclick="this.select();" style="width: 70%;"><%= embedding_tag(@book) %></textarea>
  </li>
  <li><%= link_to 'Download', :href => "/components/bibi/bib/bookshelf/#{@book.user.name}/#{File.basename(@book.epub.current_path)}" %></li>
  <li><%= link_to 'Open book directly', :href => embedding_url(@book), :target => '_blank' %></li>
</ul>
