<% content_for :title do %><%= @book.title.presence %><% end %>

<article>
  <div class="book-heading">
    <h1><%= link_to @book.title.presence || t('books.unknown_title'), url(:books, :show, :id => @book.id) %></h1>
    <h2 class="user-name text-right"><%= link_to @book.user.display_name, url(:users, :show, name: @book.user.name) %></h2>
  </div>

  <div id="book-controls" class="row">
    <div class="col-xs-10">
      <p class="embedding-tag"><label for="embedding-tag"><%= t('books.encourage_embedding') %></label><br>
        <textarea readonly id="embedding-tag" onclick="this.select();"><%= embedding_tag(@book) %></textarea>
      </p>
      <ul class="customizing btn-group">
        <li class="iframe-size btn btn-primary" data-bibi-style-width="160" data-bibi-style-height="240">160 x 240</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="320" data-bibi-style-height="480">320 x 480</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="480" data-bibi-style-height="720">480 x 720</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="640" data-bibi-style-height="960">640 x 960</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="800" data-bibi-style-height="1200">800 x 1200</li>
        <li class="active iframe-size btn btn-primary">100% x 100%</li>
      </ul>
      <ul class="customizing btn-group">
        <li class="iframe-size btn btn-primary" data-bibi-style-width="240" data-bibi-style-height="160">240 x 160</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="480" data-bibi-style-height="320">480 x 320</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="720" data-bibi-style-height="480">720 x 480</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="960" data-bibi-style-height="640">960 x 640</li>
        <li class="iframe-size btn btn-primary" data-bibi-style-width="1200" data-bibi-style-height="800">1200 x 800</li>
        <li class="iframe-size-input"><input name="width" type="number" min="0" placeholder="<%= t('helpers.width') %>">x<input name="height" type="number" min="0" placeholder="<%= t('helpers.height') %>"></li>
      </ul>
    </div>
    <ul class="col-xs-2" style="margin-top: 2em;">
      <li><%= link_to t('books.download'), :href => bookshelf_url(@book), :download => "#{@book.title}.epub", :type => EPUB::MediaType::EPUB, :rel => 'nofollow', :'data-ligature-symbol' => 'save' %></li>
      <li><%= number_to_human_size @book.epub.size %></li>
      <% if current_user == @book.user %><li><%= partial 'books/delete_form', :locals => {:book => @book} %></li><% end %>
    </ul>
    <script type="text/template" id="embedding-tag-template"><%= embedding_tag(@book, :'data-bibi-style' => '{{ style }}') %></script>
  </div>
</article>

<div class="embedded text-center">
  <h3><%= t('books.embedding_sample') %></h3>
  <%= embedding_tag(@book) %>
</div>
