<h2><%= link_to @book.title.presence || 'Unknown title', url(:books, :show, :id => @book.id) %></h2>
<h3 class="user-name text-right"><%= link_to @book.user.display_name, url(:users, :show, name: @book.user.name) %></h3>

<p>Embed into your blog!<br>
  <textarea readonly id="embedding-iframe-tag" onclick="this.select();"><%= embedding_tag(@book) %></textarea>
</p>
<%= embedding_tag(@book) %>
<ul>
  <li><%= link_to 'Download', :href => "/components/bibi/bib/bookshelf/#{@book.user.name}/#{File.basename(@book.epub.current_path)}", :download => "#{@book.title}.epub", :type => EPUB::MediaType::EPUB, :rel => 'nofollow' %></li>
  <li><%= link_to 'Open book directly', :href => embedding_url(@book) %></li>
  <li><%= partial 'books/delete_form', :locals => {:book => @book} %></li>
</ul>
