<article>
  <div class="book-heading">
    <h2><%= link_to @book.title.presence || t('books.unknown_title'), url(:books, :show, :id => @book.id) %></h2>
    <h3 class="user-name text-right"><%= link_to @book.user.display_name, url(:users, :show, name: @book.user.name) %></h3>
  </div>

  <div id="book-controls">
    <p class="embedding-tag col-10"><label for="embedding-tag"><%= t('books.encourage_embedding') %></label><br>
      <textarea readonly id="embedding-tag" onclick="this.select();"><%= embedding_tag(@book) %></textarea>
    </p>
    <ul class="col-2">
      <li><%= number_to_human_size @book.epub.size %></li>
      <li><%= link_to t('books.download'), :href => bookshelf_url(@book), :download => "#{@book.title}.epub", :type => EPUB::MediaType::EPUB, :rel => 'nofollow', :'data-ligature-symbol' => 'in' %></li>
      <li><%= link_to t('books.open'), :href => embedding_url(@book), :'data-ligature-symbol' => 'full' %></li>
      <% if current_user == @book.user %><li><%= partial 'books/delete_form', :locals => {:book => @book} %></li><% end %>
    </ul>
  </div>
</article>

<div class="embedded col-12">
  <%= embedding_tag(@book) %>
</div>
