<p><%= t('app.description') %></p>

<h2><%= t('sandbox.title') %></h2>

<p><%= t('sandbox.description') %></p>
<ol>
  <li><%= t('sandbox.step1') %></li>
  <li><%= t('sandbox.step2') %></li>
  <li><%= t('sandbox.step3') %></li>
</ol>
<p><%= t('sandbox.note_uploaded_files') %></p>
<p><%= t('sandbox.file_size_limit', limit: number_to_human_size(settings.sandbox_file_size_limit)) %></p>
<p><strong><%= t('sandbox.caution') %></strong></p>

<% form_for :book, url(:sandbox, :create), :class => 'upload-form', :enctype => 'multipart/form-data' do |f| %>
  <p><%= f.error_messages %></p>
  <%= f.file_field_block :epub, :caption => 'EPUB:', :required => true %>
  <%= f.submit t('helpers.upload'), :class => 'btn btn-primary' %>
<% end %>
