<% content_for :title do %><%= @book.title.presence %><% end %>

<h1 class="app-title"><a href="<%= '/' %>">BiB<span style="font-family: 'Cantata One'; font-size: 0.69em; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em; font-weight: 300px;">/</span>i<span style="font-size: 0.9em; margin-left: -0.02em; margin-right: -0.04em;">'</span>d</a></h1>

<article>
  <div class="book-heading">
    <h2><%= link_to @book.title.presence || t('books.unknown_title'), url(:sandbox, :show, :filename => params[:filename]) %></h2>
    <h3 class="user-name text-right"><%= link_to 'Sandbox', url(:sandbox, :new) %></h3>
  </div>

  <p><strong><%= t('sandbox.caution') %></strong></p>

  <div id="book-controls" class="row">
    <p class="embedding-tag col-xs-10"><label for="embedding-tag"><%= t('books.encourage_embedding') %></label><br>
      <textarea readonly id="embedding-tag" onclick="this.select();"><%= embedding_tag(@book) %></textarea>
    </p>
    <ul id="book-controls" class="col-xs-2">
      <li><%= number_to_human_size @book.epub.size %></li>
      <li><%= link_to t('books.download'), :href => "/components/bibi/bib/bookshelf/#{@book.user.name}/#{File.basename(@book.epub.current_path)}", :download => "#{@book.title}.epub", :type => EPUB::MediaType::EPUB, :rel => 'nofollow', :'data-ligature-symbol' => 'save' %></li>
      <li>
        <% form_for @book, url(:sandbox, :destroy, :filename => params[:filename]), :'data-confirm' => t('books.confirm_deletion') do |f| %>
          <%= hidden_form_method_field 'delete' %>
          <%= f.submit t('helpers.destroy'), :class => 'btn btn-danger' %>
        <% end %>
      </li>
    </ul>
  </div>
</article>

<div class="embedded col-xs-12">
  <%= embedding_tag(@book) %>
</div>
