<%- @title = "BiB/i'd" -%>
<!DOCTYPE html>
<title><%= @title %></title>
<style>
html, body, article {
  height: 100%;
}
input.embedding-iframe-tag {
  width: 100%;
}
iframe {
  height: 70%;
  width: 70%;
}
</style>
<h1><%= @title %></h1>

<div>
  <% if current_user %>
    <%= link_to 'Upload', url(:books, :new) %>
    <%= link_to current_user.display_name, url(:users, :show, :name => current_user.name) %>
    <% form_tag url(:sessions, :destroy) do %>
      <%= hidden_form_method_field 'delete' %>
      <%= submit_tag 'sign out' %>
    <% end %>
  <% else %>
    <%= link_to 'sign in', url(:sessions, :new) %>
  <% end %>
</div>

<%= yield %>

<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
