<%- @title = "BiB/i'd" -%>
<!DOCTYPE html>
<title><%= @title %></title>
<link rel="stylesheets" type="text/css" href="/components/bootstrap/css/bootstrap.min.css">
<%= stylesheet_link_tag 'application' %>

<p class="flash-success"><%= flash_tag :success, :class => 'success' %></p>
<p class="flash-error"><%= flash_tag :error, :class => 'error' %></p>

<h1><%= link_to @title, '/' %></h1>

<nav>
  <ul>
  <% if current_user %>
    <li><%= partial('books/upload_form') %></li>
    <li><%= link_to current_user.display_name, url(:users, :show, :name => current_user.name) %></li>
    <li>
      <% form_tag url(:sessions, :destroy) do %>
        <%= hidden_form_method_field 'delete' %>
        <%= submit_tag 'sign out' %>
      <% end %>
    </li>
  <% else %>
    <li><%= link_to 'sign in', url(:sessions, :new) %></li>
  <% end %>
  </ul>
</nav>

<%= yield %>

<script src="/javascripts/jquery.js" type="text/javascript"></script>
<script src="/components/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
