<!DOCTYPE html>
<head>
<title>
  <% @app_title = "BiB/i'd" %>
  <% if content_for? :title %>
    <%= yield_content :title %> - <%= @app_title %>
  <% else %>
    <%= @app_title %>
  <% end %>
</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'application' %>
</head>
<body class="container">
<%= flash_tag :success, :class => 'text-success' %>
<%= flash_tag :error, :class => 'text-error' %>

<nav class="global">
  <ul class="resources">
    <li><a href="<%= '/' %>" class="link-to-home">BiB<span style="font-family: 'Cantata One'; font-size: 0.69em; top: 0.05em; margin-left: -0.05em; margin-right: -0.081em; font-weight: 300px;">/</span>i<span style="font-size: 0.9em; margin-left: -0.02em; margin-right: -0.04em;">'</span>d</a></li>
    <li><%= link_to t('users.list'), url(:users, :index), :'data-ligature-symbol' => 'users' %></li>
    <li><%= link_to t('books.uploaded_books'), url(:books, :index), :'data-ligature-symbol' => 'book' %></li>
  </ul>
  <ul class="current-user">
    <% if current_user %>
    <li><%= partial('books/upload_form') %></li>
    <li><%= link_to current_user.display_name, url(:users, :show, :name => current_user.name), :class => 'user-name', :'data-ligature-symbol' => 'you' %></li>
    <li>
      <% form_tag url(:sessions, :destroy), :class => 'sign-out-form', :'data-ligature-symbol' => 'logout' do %>
        <%= hidden_form_method_field 'delete' %>
        <%= submit_tag t('layout.nav.sign_out') %>
      <% end %>
    </li>
    <% else %>
      <li class="account"><%= link_to t('layout.nav.sign_in'), sign_in_url, :'data-ligature-symbol' => 'login' %>
    <% end %>
  </ul>
</nav>

<%= yield %>

<footer>
  <ul class="text-right">
    <li><%= link_to t('helpers.contact'), settings.contact %></li>
    <li><a href="https://github.com/KitaitiMakoto/bibid">Source code</a></li>
  </ul>
</footer>

<script src="/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/components/jquery-ujs/src/rails.js" type="text/javascript"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/components/underscore/underscore.js" type="text/javascript"></script>
<script src="/components/backbone/backbone.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
<%== settings.google_analytics_tag %>
</body>
